.gray-bg {
    background-color: rgba(128, 128, 128, 0.3);
}
div {
    height: 100%;
    /* display: flex;
    flex-direction: column; */
    /* gap: 16px; */
    /* align-items: center; */
    /* justify-content: center; */
}
.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.align-center {
    align-items: center;
}
  
img {
    width: 200px;
    height: 200px;
}
  
h1 {
    /* font-size: 18px; */
    /* color: white; */
    font-weight: bold;
    margin: 0;
}
  
p {
    /* color: white; */
    opacity: 0.7;
    margin: 0;
    margin-bottom: 10px;
}
  
code {
    font-size: 12px;
    padding: 2px 4px;
    /* background-color: #ffffff24; */
    border-radius: 2px;
}

.my-booked-class {
  background-color: green;
  color: white;
  border-radius: 50%;
}
.my-booked-class1 {
  background-color: grey;
  color: white;
  border-radius: 50%;
}

.active:active {
    position: relative;
    top: 1px;
    left: 1px;
}
