html,
body {
  width: 700px;
  /* height: 400px; */
  /* height: 1000px; */
  padding: 0;
  margin: 0;
  min-height: 700px;
}

body {
  /* background-color: rgb(36, 36, 36); */
  /* padding: 10px; */
  box-sizing: border-box;
}
