body.dark-mode, .dark-mode {
  background: #181818 !important;
  color: #f1f1f1 !important;
  transition: background-color 0.3s ease, color 0.3s ease;
}
body.dark-mode button, .dark-mode button {
  background: #222;
  color: #f1f1f1;
  border-color: #444;
}
body.dark-mode input, .dark-mode select, .dark-mode textarea, .dark-mode .my-booked-class, .dark-mode .my-booked-class1 {
  background: #222 !important;
  border-color: #444 !important;
}
body.dark-mode .my-booked-class {
  background-color: #2e8b57 !important;
}
body.dark-mode .my-booked-class > button {
  background-color: transparent!important;
}
body.dark-mode .my-booked-class1 {
  background-color: #555 !important;
}
body.dark-mode .my-booked-class1 > button {
  background-color: transparent!important;
}

body.light-mode, .light-mode {
  background: #fff !important;
  color: #222 !important;
  transition: background-color 0.3s ease, color 0.3s ease;
}
body.light-mode button, .light-mode button {
  background: #fff;
  border-color: #ccc;
}
body.light-mode input, .light-mode select, .light-mode textarea, .light-mode .my-booked-class, .light-mode .my-booked-class1 {
  background: #fff !important;
  border-color: #ccc !important;
}
body.light-mode .my-booked-class {
  background-color: green !important;
}

body.light-mode .my-booked-class > button {
  background-color: transparent!important;
}

body.light-mode .my-booked-class1 {
  background-color: grey !important;
}

body.light-mode .my-booked-class1 >  button {
  background-color: transparent!important;
}

body.dark-mode *,
body.light-mode * {
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

html,
body {
  width: 700px;
  /* height: 400px; */
  /* height: 1000px; */
  padding: 0;
  margin: 0;
  min-height: 700px;
}

body {
  /* background-color: rgb(36, 36, 36); */
  /* padding: 10px; */
  box-sizing: border-box;
}
